<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group8.backspace">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.PlanetList_and_FlightStatus.Info"
            android:label="@string/title_activity_planet_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.PlanetList_and_FlightStatus.StatusDetail"
            android:label="StatusDetail" />
        <activity
            android:name=".presentation.PlanetList_and_FlightStatus.PlanetList"
            android:label="@string/title_activity_planet_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentation.PurchaseTicket.BookBrowseActivity" />
        <activity android:name=".presentation.PurchaseTicket.BookDestinationActivity" />
        <activity android:name=".presentation.PurchaseTicket.PurchaseTicket" />
        <activity
            android:name=".presentation.PlanetList_and_FlightStatus.Listview"
            android:label="@string/title_activity_listview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.PlanetList_and_FlightStatus.FlightStatus"
            android:label="@string/title_activity_flight_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.PurchaseTicket.TravelClass"
            android:label="@string/title_activity_travel_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.PurchaseTicket.BookOriginActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.PurchaseTicket.FlightDetailActivity"
            android:label="@string/title_activity_flight_detail" />
        <activity
            android:name=".presentation.PurchaseTicket.AdditionalOptions"
            android:label="@string/title_activity_additional_options"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".presentation.PurchaseTicket.BookReview"
            android:label="@string/title_activity_book_review"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>